<div class="bootstrap-datepicker-popup" ng-style="{display: (isOpen && 'block') || 'none'}" ng-keydown="keydown($event)">
    <div ng-transclude></div>
    <div class="date-picker-button-bar" ng-if="showButtonBar">
        <span>
            <button type="button" ng-click="select('today')">{{ getText('current') }}</button>
            <button type="button" ng-click="select(null)">{{ getText('clear') }}</button>
        </span>
        <button type="button" ng-click="close()">{{ getText('close') }}</button>
    </div>
</div>
