<table class="bootstrap-timepicker" ng-class="{ lock: disabled }">
    <tbody>
        <tr>
            <td ng-class="{'has-error': invalidHours}">
                <div class="cell-wrapper">
                    <input style="width:60px;" type="text" ng-model="hours" ng-change="updateHours()" ng-readonly="readonlyInput" maxlength="2">
                    <div class="arrow-controls">
                        <a ng-click="incrementHours()">
                            <span class="icon icon-chevron-up"></span>
                        </a>
                        <a ng-click="decrementHours()">
                            <span class="icon icon-chevron-down"></span>
                        </a>
                    </div>
                </div>
            </td>
            <td>
                <div class="time-dots">:</div>
            </td>
            <td ng-class="{'has-error': invalidMinutes}">
                <div class="cell-wrapper">
                    <input style="width:60px;" type="text" ng-model="minutes" ng-change="updateMinutes()" ng-readonly="readonlyInput" maxlength="2">
                    <div class="arrow-controls">
                        <a ng-click="incrementMinutes()">
                            <span class="icon icon-chevron-up"></span>
                        </a>
                        <a ng-click="decrementMinutes()">
                            <span class="icon icon-chevron-down"></span>
                        </a>
                    </div>
                </div>
            </td>
            <td ng-show="showMeridian">
                <button type="button" class="am-pm-bttn" ng-click="toggleMeridian()">{{meridian}}</button>
            </td>
        </tr>
    </tbody>
</table>
